@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

.hero-background-image {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('./assets/pikachu background.png');
}

.card-login {
  margin: auto;
  width: 80%;
  justify-self: center;
}

.pokemon-list {
  max-width: 70em;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.25em;
}
.moves-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2em;
}

@media (min-width: 666px) {
  .card-login {
    width: 35%;
    min-width: 30em;
    margin-left: 16%;
    justify-self: left;
  }
}
